node_modules
.vscode-test/
*.vsix
node_modules
*.log
build/
!/build/Release/workbenchProxyLoader.node
.vscode/
package-lock.json

*.obj
*.iobj
*.pdb
*.ipdb
*.ipch
*.tlog
*.lastbuildstate
*.vcxproj.FileListAbsolute.txt

WorkbenchProxy/.vs

*.vsix